coincurve~=17.0.0
green~=3.3.0
protobuf~=3.19.1
pycryptodome~=3.12.0
ecdsa==0.17.0
groestlcoin_hash~=1.0.3
eth-keyfile~=0.5.1
py_crypto_hd_wallet~=1.1.0
pynacl~=1.4.0
bitstring~=3.1.9
shamir-mnemonic~=0.2.2
bitcoin-utils~=0.5.5
pylibscrypt~=2.0.0